*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
/* header style */
.hader-banner{
    background-image: url('../new-year/images/banner/banner2.png');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.hader-title {
    padding-top: 10%;
    padding-right: 10%;
    font-size: 5rem;
    text-align: right;
    color: #151414;
    font-weight: 900;
    margin-bottom: 30px;
}

.header-description{
    padding-right: 10%;
    text-align: right;
    color: #444343;
    font-size: 20px;
    line-height: 5px;
    line-height: 30px;
    margin-bottom: 20px;
}

.primay-btn {
    width: 145px;
    height: 64px;
    border: none;
    border-radius: 5px;
    background-color: #F76030;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.hadder-btn {
    text-align: right;
    padding-right: 10%;
}
/* failures section style */
.failures-continer{
    width: 1140px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding-top: 150px;
}

.failures-right {
    margin-left: 150px;
    margin-bottom: -40px;
}

.failures-title {
    font-size: 3.5rem;
    font-weight: 800;
    color: #151414;
    margin-bottom: 30px;
}

.failures-description {
    margin-bottom: 30px;
    line-height: 35px;
    word-spacing: 5px;
    width: 515px;
    font-size: 20px;
    font-weight: 500;
    color: #333333;
}

.item {
    list-style: none;
    font-size: 20px;
    word-spacing: 5px;
    line-height: 35px;
    color: #2d2525;
}

.failures-items ul li i {
    color: #2ed573;
    font-weight: 700;
    font-size: 27px;
}
/* plan section */
.plan-continer {
    width: 1140px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 50px;
}

.plan-items {
    display: flex;
    justify-content: space-between;
}

.plan-titile {
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
    color: #151414;
    font-weight: 700;
}

.plan-items {
    text-align: center;
}

img.plan-item-img {
    margin-bottom: 20px;
}

.plan-item-title {
    margin-bottom: 10px;
    font-weight: bolder;
    word-spacing: 5px;
}

.plan-item-sub-titile {
    color: #979797;
    font-size: 20px;
    font-weight: 900;
    word-spacing: 5px;
}
/* service style */
.service-box {
    display: flex;
}

.service-continer {
    width: 1140px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

.main-heading.service-heading {
    margin-bottom: 50px;
}

.service-box-items {
    margin-right: 20px;
    text-align: center;
    width: 400px;
    height: 400px;
    padding: 10px;
    background-color: #DEE1E6;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.service-box-items i {
    margin-top: 30px;
    padding-bottom: 30px;
    color: #FD653B;
}

.service-box-items h1 {
    padding-bottom: 20px;
    font-size: 25px;
    word-spacing: 6px;
    font-weight: 700;
}

.service-box-items p {
    padding-top: 10px;
    line-height: 30px;
    color: #333333;
    font-weight: 500;
    font-size: 17px;
}

.service-box-items.second-service-box {
    background-color: #ff694494;
}

.service-box-items.second-service-box i {
    color: #ffffffff;
}

.service-box-items.fast-service-box:hover {
    background-color: #ff694494;
}

.service-box-items.fast-service-box:hover i {
    color: white;
}

.service-box-items.third-service-box:hover {
    background-color: #ff694494;
}

.service-box-items.third-service-box:hover i {
    color: white;
}