*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
/* header style */
.hader-banner{
    background-image: url('../new-year/images/banner/banner2.png');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.hader-title {
    padding-top: 10%;
    padding-right: 10%;
    font-size: 5rem;
    text-align: right;
    color: #151414;
    font-weight: 900;
    margin-bottom: 30px;
}

.header-description{
    padding-right: 10%;
    text-align: right;
    color: #444343;
    font-size: 20px;
    line-height: 5px;
    line-height: 30px;
    margin-bottom: 20px;
}

.primay-btn {
    width: 145px;
    height: 64px;
    border: none;
    border-radius: 5px;
    background-color: #F76030;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.hadder-btn {
    text-align: right;
    padding-right: 10%;
}
/* failures section style */
.failures-continer{
    width: 1140px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding-top: 150px;
}

.failures-right {
    margin-left: 150px;
    margin-bottom: -40px;
}

.failures-title {
    font-size: 3.5rem;
    font-weight: 800;
    color: #151414;
    margin-bottom: 30px;
}

.failures-description {
    margin-bottom: 30px;
    line-height: 35px;
    word-spacing: 5px;
    width: 515px;
    font-size: 20px;
    font-weight: 500;
    color: #333333;
}

.item {
    list-style: none;
    font-size: 20px;
    word-spacing: 5px;
    line-height: 35px;
    color: #2d2525;
}

.failures-items ul li i {
    color: #2ed573;
    font-weight: 700;
    font-size: 27px;
}
/* plan section */
.plan-continer {
    width: 1140px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 50px;
}

.plan-items {
    display: flex;
    justify-content: space-between;
}

.plan-titile {
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
    color: #151414;
    font-weight: 700;
}

.plan-items {
    text-align: center;
}

img.plan-item-img {
    margin-bottom: 20px;
}

.plan-item-title {
    margin-bottom: 10px;
    font-weight: bolder;
    word-spacing: 5px;
}

.plan-item-sub-titile {
    color: #979797;
    font-size: 20px;
    font-weight: 900;
    word-spacing: 5px;
}
/* service style */
.service-box {
    display: flex;
}

.service-continer {
    width: 1140px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

.main-heading.service-heading {
    margin-bottom: 50px;
}

.service-box-items {
    margin-right: 20px;
    text-align: center;
    width: 400px;
    height: 400px;
    padding: 10px;
    background-color: #DEE1E6;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.service-box-items i {
    margin-top: 30px;
    padding-bottom: 30px;
    color: #FD653B;
}

.service-box-items h1 {
    padding-bottom: 20px;
    font-size: 25px;
    word-spacing: 6px;
    font-weight: 700;
}

.service-box-items p {
    padding-top: 10px;
    line-height: 30px;
    color: #333333;
    font-weight: 500;
    font-size: 17px;
}

.service-box-items.second-service-box {
    background-color: #ff694494;
}

.service-box-items.second-service-box i {
    color: #ffffffff;
}

.service-box-items.fast-service-box:hover {
    background-color: #ff694494;
}

.service-box-items.fast-service-box:hover i {
    color: white;
}

.service-box-items.third-service-box:hover {
    background-color: #ff694494;
}

.service-box-items.third-service-box:hover i {
    color: white;
}
/* positive section style */
.positive-continer {
    width: 1140px;
    padding-bottom: 70px;
    margin: 0 auto;
    padding-top: 90px;
}

.positive-content {
    background-image: linear-gradient(90deg, #43cea2 100% , rgba(42, 125, 209, 0.473) 0%) ,url('../../compleate/new-year/images/watch.png') ;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 35vh;
    border-radius: 5px;
}

.positive-titile {
    padding-top: 30px;
    padding-left: 70px;
    font-size: 2.5rem;
    color: #ffffff;
}


.positive-btn{
    margin-left: 70px;
    display: inline-block;
    width: 155px;
    height: 65px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 800;
    background-color: #ffffff;
    cursor: pointer;
}
/* footer section style */
footer#footer {
    background-color: #151414;
    color: #ffffff;
    width: 100%;
    height: 60vh;
}

.footer-continer {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    padding-top: 100px;
}

h1.footer-left-title {
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.footer-left {
    width: 570px;
}

.footer-right {
    width: 570px;
    text-align: center;
}

.footer-left-description {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
}

.footer-items li {
    list-style: none;
    margin-bottom: 20px;
}

.footer-icon {
    margin-top: 25px;
    cursor: pointer;
}

.fi{
    margin-left: 10px;
}

h1.footer-right-title {
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer-form input[type="email"] {
    width: 55%;
    height: 43px;
    padding: 15px;
    color: #dfd8d8;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 212px;
}

.footer-btn{
    background-color: #ffffff;
    width: 185px;
    height: 64px;
    margin-left: 67px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 700;
    color:#F76030;
    cursor: pointer;
}